body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;

    justify-content: center;
    justify-content: space-around;
    align-items: center;

    margin-top: 6em;
    background-color: #1e1e2e;
    color: white;
}

#game-container {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

.tile {
    width: 80px;
    height: 80px;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.2s;
}

.tile.flipped {
    background-color: #6c5ce7;
    transform: scale(1.1);
    pointer-events: none;
}

button {
    padding: 10px 20px;
    background-color: #6c5ce7;
    border: 2px solid rgb(10, 9, 9);
    /* border: none; */
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin: 5px;
}

button:hover {
    background-color: #5a4dcd;
    scale: 1.2;
}

#timer {
    font-size: 20px;
    margin-bottom: 10px;
}

#scoreboard {
    margin-top: 20px;
    text-align: center;
    background-color: #444;
    
    border-radius: 1em;
}

#scoreboard table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; 
    
}

#scoreboard th,
#scoreboard td {
    border: 5px solid #1e1e2e;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    
}
#times-list{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

#themes {
    margin-top: 20px;
}

#level-select {
    margin-top: 20px;
}
#start-button{
    display: none;
}

.other_game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    margin: 1em auto; /* Center horizontally */
    width: 30%; /* Adjust width */
    max-width: 1000px; /* Optional: Add a max width for responsiveness */
    padding: 1em;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.other_game:hover {
    background-color: #ff5722;
    transform: scale(1.1);
    cursor: pointer;
}


.other_game img {
    width: 100%; /* Adjust to container width */
    /* padding: 1em; */
    cursor: pointer;
    object-fit:fill; ;
    border: 1px solid red;
}


#main_part{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    /* Add your responsive styles here */
    /* For example, adjusting the game container size */
    body{
        margin-top: 2em;
        font-size: 20px;
        flex-direction: column;
    }
    #game-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .other_game:first-child{
        display:none;
    }
    .other_game{
        display: flex;
        width: 80%;

    }
    


}
